@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  background-color: #f8f8f8; }

.header {
  width: 100%;
  height: 46px;
  background: url(../images/back1.gif) repeat; }
  .header h1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url(../images/logo1.png) no-repeat center center; }

.content {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 30px; }
  .content h4 {
    width: 70px;
    color: #a2c900;
    background: url(../images/icon01.png) no-repeat right center; }
  .content ul {
    margin-left: 58px;
    padding-bottom: 30px;
    border-left-width: 4px;
    border-left-color: #d0e37e;
    border-left-style: solid; }
    .content ul li {
      height: 36px;
      line-height: 36px;
      padding-left: 23px;
      cursor: pointer; }
      .content ul li:hover {
        background-color: #fff; }
      .content ul li a:hover {
        color: #a2c900; }
  .content span {
    color: #636363;
    opacity: .5; }
  .content a {
    font-size: 16px;
    margin-left: 19px;
    color: #636363; }

.inner {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .inner:after {
    content: "";
    width: 475px;
    height: 175px;
    background: url(../images/news1.png) no-repeat -79px bottom;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -633px; }
  .inner:before {
    content: "";
    width: 757px;
    height: 440px;
    background: url(../images/news2.png) no-repeat left bottom;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -52px; }
  .inner .msg {
    max-width: 1000px;
    background: url(../images/back3.png) no-repeat top center;
    z-index: 888;
    position: relative;
    margin: 36px auto; }
    .inner .msg:after {
      content: "";
      width: 100%;
      height: 30px;
      background: url(../images/back05.png) no-repeat;
      position: absolute;
      bottom: -30px;
      left: 0;
      margin: auto;
      padding: 0px 30px 30px;
      box-sizing: border-box; }
    .inner .msg .title {
      width: 95%;
      height: 68px;
      padding-top: 14px;
      line-height: 58px;
      margin: 0 auto;
      font-size: 14px;
      color: #999;
      font-family: Arial, '微软雅黑';
      background: url(../images/border.png) repeat-x bottom;
      line-height: 80px;
      font-size: 18px;
      color: #999;
      text-align: center; }
    .inner .msg h3 {
      width: 95%;
      height: 87px;
      line-height: 87px;
      font-size: 25px;
      color: #e15671;
      margin: 0 auto; }
    .inner .msg .font {
      width: 100%;
      height: 50px;
      z-index: 88;
      position: relative;
      background: url(../images/back04.png) repeat-y; }
      .inner .msg .font .size {
        width: 95%;
        margin: 0 auto;
        color: #009688 !important;
        font-size: 16px;
        letter-spacing: 1px !important;
        line-height: 27px;
        text-align: left; }
